name: Build and Upload Artifacts

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        run: |
          rustup toolchain install stable --profile minimal
          rustup default stable

      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "rust -> target"

      - name: Install Cross
        run: cargo install cross --git https://github.com/cross-rs/cross

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Grant permission for Gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew buildAllNativesRelease build

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: ./build/libs/*
